body {
  font-size: 14px;
}

.web-container {
  margin-top: 7rem;
}

.panel-login {
  margin-top: 2rem;
}

.search-location {
  div {
    margin-bottom: 1rem;
  }
}

.map-search {
  margin-top: 1rem;
  display: flex;

  .map-box {
    flex-grow: 1;
    border: 1px solid #dadada;
    margin-right: 2rem;
    height: 40rem;

    #map {
      width: 100%;
      height: 100%;
    }
  }
}

.fullscreen-maps {
  border: 1px solid #dadada;
  width: 100%;
  height: 40rem;

  #full-maps {
    width: inherit;
    height: inherit;
  }
}

.form-container,
.table-container {
  width: 80%;
}

.form-container {
  margin-top: 2rem;
}

.table-container {
  table {
    thead,
    tbody {
      tr {
        background-color: #fff;
      }
    }
    thead {
      tr {
        th {
          border-bottom: 0;
        }
      }
    }
  }
}